@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: "Nanum Gothic", sans-serif;
}
.page-title {
    font-family: "Nanum Gothic", sans-serif;
	font-weight: 600;
}
img.bg {
    width: 100%;
}
.bg_img {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 0 !important;
    vertical-align: middle;
    border: 0;
}